## Asiakastaulun lukeminen

In [1]:
from asiakas import asiakas
asiakas.readAsiakas()

OperationalError: (2003, "Can't connect to MySQL server on 'localhost' ([WinError 10061] No connection could be made because the target machine actively refused it)")

## Tuotetaulun lukeminen

In [2]:
from tuote import tuote
tuote.readTuote()

   tuoteID                                       tuotenimi  tuotehinta
0        1  Deusenberg DM2-CR-S Gran Majesto 2C, Cherry Rd      2550.0
1        2            Yamaha STORIAII2 Natural folk-kitara       345.0
2        3       Gibson Les Paul Tribute Satin Cherry Sunb      1399.0

## Tilaustaulun lukeminen

In [3]:
from tilaus import tilaus
tilaus.readTilaus()

   tilausID tuotteet   tilausPVM  asiakasID
0         5        2  2023-04-21          5

## Tilauksen sisällön tarkistelu (tilausID:n perusteella)

In [4]:
from tilaus import tilaus
tilaus.tilauksenSisalto()

   tilausID tuotteet   tilausPVM  asiakasID
0         5        2  2023-04-21          5

Anna tilauksen tilausID:  5

Asiakas
Anssi
02945
Kuvitelmakaari 23

--------------------------------------------------
                              tuotenimi  tuotehinta
0  Yamaha STORIAII2 Natural folk-kitara       345.0
Tilauksen kokonaissumma: 345.0
--------------------------------------------------

## Kokonaismyynnin laskeminen tilausten perusteella

In [5]:
from tilaus import tilaus
tilaus.tilaustenTuotto()

   total_sales
0        345.0